
  .selectopetion{
      border: none;
     
  }
  
  .opetionstyle{
      left:10px;
  }
  
  .iconposition{
    margin-left: 26%;
  }
  .fontstyles{
    color: white;
  }
  .headingstyle{
    color: #6D8097
  }
  .noteficationfont{
    color:  #6D8097;
  }
  .anchorlinkstyle{
    color: white;
    text-decoration: none;
  }