<div class="row">
  <div class="col-4" *ngFor="let item of [].constructor(3); ">
    <div class="container">
      <div class="card" style="width: 18rem;height: 16rem;">
        <h5 class="card-header">Card title</h5>
        <ul class="list">
          <li>Writers</li>
          <li>Expectant parents</li>
          <li>Website registrants</li>
          <li>Petey Cruiser
          </li>
          <li>Anna Sthesia</li>
        </ul>
         <a href="#" class="btn btn-primary">Go somewhere</a>
         <h6 class="fontstyle">Sign In</h6>
      </div>
    </div>
  </div>

</div>