.row{
    padding-top: 2%;
}
.card-header{
    background-color: #1ABB9C;
    color: white;
    text-align: center;
}
.list{
    background-color: #FAFAFA;
}
.fontstyle{
    color:  #1ABB9C;
    text-align: center;
    padding-top: 2%;
}